.header {
    border: 1px solid #ECECEC;
}

.main-nav {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.logo {
    margin-right: 93px;
    color: #2196F3;
    font-family: "Raleway", cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo-link {
    color: #000000;
    font-family: "Raleway", cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo-footer {
    color: #FFFFFF;
    font-family: "Raleway", cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-nav {
    display: flex;
}

.item {
    position: relative;
}

.link-nav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accnent-color);
    opacity: 0;
    transition: opacity var(--cubic-time);
}

.link-nav:hover::after,
.link-nav:focus::after {
    opacity: 1;
}

.current::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accnent-color);
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color var(--cubic-time);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accnent-color);
}

.site-nav .link.current {
    color: var(--accnent-color);
}

.mail-tel {
    display: flex;
    margin-left: auto;
}

.mail-tel .item:not(:last-child) {
    margin-right: 30px;
}

.mail-icon {
    fill: currentColor;
    margin-right: 10px;
}

.mail {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color var(--cubic-time);
}

.mail:hover,
.mail:focus {
    color: var(--accnent-color);
}

.page-header {
    border: 1px solid #ECECEC;
}

.main-nav {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.logo {
    margin-right: 93px;
    color: #2196F3;
    font-family: "Raleway", cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo-link {
    color: #000000;
    font-family: "Raleway", cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo-footer {
    color: #FFFFFF;
    font-family: "Raleway", cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-nav {
    display: flex;
}

.item {
    position: relative;
}

.link-nav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accnent-color);
    opacity: 0;
    transition: opacity var(--cubic-time);
}

.link-nav:hover::after,
.link-nav:focus::after {
    opacity: 1;
}

.current::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accnent-color);
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color var(--cubic-time);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accnent-color);
}

.site-nav .link.current {
    color: var(--accnent-color);
}

.mail-tel {
    display: flex;
    margin-left: auto;
}

.mail-tel .item:not(:last-child) {
    margin-right: 30px;
}

.mail-icon {
    fill: currentColor;
    margin-right: 10px;
}

.mail {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color var(--cubic-time);
}

.mail:hover,
.mail:focus {
    color: var(--accnent-color);
}